.Photo-container {
  width: 50vw;
  height: auto;
  display: flex;
  margin: 0 auto;
}

.Photo {
  width: 100%;
	transition: all 0.5s ease;
}

.Photo img:hover {
	transform: scale(1.03);
	box-shadow: 4px 5px 11px 0px rgba(151,151,151,0.75);
  -webkit-box-shadow: 4px 5px 11px 0px rgba(151,151,151,0.75);
  -moz-box-shadow: 4px 5px 11px 0px rgba(151,151,151,0.75);
}

.Photo-saveBar {
  height: 100%;
  width: 100%;
  background-color: rgba(233, 1, 109, 0.815);
  position: relative;
  /* bottom: 100px; */
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(1, 19, 20, 0.568);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}