.Photo-container {
  position: relative;
  width: 92%;
  margin: 10px auto;
  display: inline-block;
}

.Photo-container:hover .Photo-overlay {
  opacity: 1;
}

.Photo-image {
  display: block;
  width: 100%;
}

.Photo-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 5, 7, 0.704);
}

.Photo-text {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (min-width: 700px){
  .Photo-container {
    width: 46%;
    height: 450px;
    margin: 10px auto;
  }
  .Photo-image {
    height: 450px;
  }
  .Photo-overlay {
    height: 450px;
  }
}

@media (min-width: 992px){
  .Photo-container {
    width: 31%;
    height: 375px;
    margin: 10px auto;
  }
  .Photo-image {
    height: 375px;
  }
  .Photo-overlay {
    height: 375px;
  }
}