.SearchBar input {
  width: 60vw;
  /* height: 30px; */
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 2rem;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color : white;
}